<div class="wrapper">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic reprehenderit earum provident fuga aperiam aut officia
    placeat perspiciatis eveniet recusandae repellendus dolorum quos, minus explicabo itaque, sunt libero optio
    incidunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic reprehenderit earum provident fuga aperiam
    aut officia placeat perspiciatis eveniet recusandae repellendus dolorum quos, minus explicabo itaque, sunt libero
    optio incidunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic reprehenderit earum provident fuga
    aperiam aut officia placeat perspiciatis eveniet recusandae repellendus dolorum quos, minus explicabo itaque, sunt
    libero optio incidunt.
  </p>
</div>
