.button {
  width: fit-content;
  padding: 10px;
  color: var(--c-white);
  border: 1px solid var(--c-black);
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  margin: 0 auto;

  &--add {
    background-color: var(--c-green);
  }

  &--delete {
    background-color: var(--c-red);
  }
}

:hover {
  background-color: var(--c-white);
  color: var(--c-black);
}
