:root {
  --c-black: black;
  --c-white: #fff;
  --c-green: green;
  --c-red: red;
  --c-blue: #1d1db1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--c-white);
  color: var(--c-black);
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.wrapper {
  width: 100%;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
